body {
  background-color: #E6E9ED;
  color: #3F5D78;
}

h1 {
  float: left;
}

#headerWrapper {
  margin: auto;
  padding: 5px;
  width: 90%;
  height: 96px;
  background-color: #BAC5CF;
}

#content {
  margin: auto;
  padding: 5px;
  width: 90%;
  background-color: #BAC5CF;
  position: relative;
  top: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#headerList {
  float: right;
}
